*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: white;
    transition: .3s ease-in-out;
}
.container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(51, 153, 255);
}   
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 50px;
    font-size: 30px;
    font-family: 'Indie Flower',sans-serif;
    font-weight: bold;
    color: white;
}

.content{
    position: absolute;
    top: 200px;
    left: 100px;
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    width: 80vw;
}
#city{
    font-weight: 300;
    font-size: 60px;
    font-family: sans-serif;
   
    margin-bottom: 10px;
    
}
#cel{
    font-size: 60px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-top: 30px;
}
#temp{
}
#main, #description {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    margin-top: 40px;
}
.details{
    display: none;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: rgb(31 38 135 / 10%) 0px 8px 32px 0px;
    backdrop-filter: blur(8px);
    border-radius: 20px;
}
#img img{
    width: 80px;

    margin-top: 30px;
}
.details{
    padding: 50px 50px;
    width: 370px;
    margin-left: 50px;
    height: 350px;
}
.-detail{    
    font-family: sans-serif;
    margin-bottom: 30px;
    font-size: 18px;
    color: white;
    font-weight: 400;
   

}
   


#error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}


#temp {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #img {
    margin-right: 5px;
  }
  
  #cel {
    font-size: 60px;
    font-weight: bolder;
    font-family: sans-serif;
  }
  

  #date {
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 40px;
  }


  .details img {
    width: 20px;
    height: 20px;
   margin-right: 30px;
  }
  

 
  